<div class="card">
    <p class="cardTitle marginLeft16 marginTop16 marginBottom16 marginRight16"> 
        {{title}}</p>
    <div class="cardTagContainer">
        {{#each tags}}
        <button class="tagButton">{{this}}</button>
        {{/each}}
    </div>
</div>