<div class="card">
    <div class="cardTopColorBar"></div>
    <p class="cardTitle marginLeft16 marginTop16 marginBottom16 marginRight16">
        {{title}}</p>
    <div class="cardTagContainer">
        {{#each tags}}
        <button class="tagLink marginLeft8 marginRight8 marginBottom8 disabled">{{this}}</button>
        {{/each}}
    </div>
</div>