<div class="card ignoreClick">
    <div class="cardTopColorBar ignoreClick"></div>
    <p class="ignoreClick cardTitle marginLeft16 marginTop16 marginBottom16 marginRight16">
        {{title}}</p>
    <div class="cardTagContainer ignoreClick">
        {{#each tags}}
        <button class="ignoreClick tagLink marginLeft8 marginRight8 marginBottom8 disabled">{{this}}</button>
        {{/each}}
    </div>
</div>