<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/site.css"/>
    <link rel="stylesheet" href="/public/css/sizeDefaults.css"/>
</head>

<body>
    {{{body}}}
</body>

</html>