<main>
    <h2>TaskTrack</h2>
    <p>TaskTrack is an interactive web app which allows users to simplify their lives by keeping their daily and life
        tasks organized. Whether it is going grocery shopping, doing homework or completing a project, TaskTrack is an
        effective way to make sure users stay on top of their duties. With an intuitive drag and drop design system
        combined with organizational tools such as tags/labels and deadline alerts, TaskTrack is easy to use while
        providing a cohesive solution to staying organized. </p>
    <a id="loginButton" href="users/login">Log In</a>
    <a id="signUpButton" href="users/signup">Sign Up</a>
</main>