<link rel="stylesheet" href="/public/css/landing.css" />
<main>
    <img alt="task track logo" id="headerLogo" src="/public/img/header_logo_dark.png">
    <p>TaskTrack is an interactive web app which allows users to simplify their lives by keeping their daily and life
        tasks organized. <br><br>Whether it is going grocery shopping, doing homework or completing a project, TaskTrack
        is an
        effective way to make sure users stay on top of their duties. With an intuitive drag and drop design system
        combined with organizational tools such as tags/labels and deadline alerts, TaskTrack is easy to use while
        providing a cohesive solution to staying organized. </p>
    <form class="inline" id="loginButton" action="users/login">
        <button class="loginProfileButton" type="submit">Login</button>
    </form>
    <form class="inline" id="signUpButton" action="users/signup">
        <button class="loginProfileButton" type="submit">Sign Up</button>
    </form>
</main>