.taskForm {
    margin: auto;
    width: 50%;
}

textarea {
    width: 90%;
    margin-top: 4px;
}

input {
    padding: 4px;
    margin-top: 4px;
}

textarea[disabled], input[disabled], select[disabled]{
    color: black;
    background-color: rgb(230, 230, 230);;
}

.wideInput {
    width: 50%;
}

select {
    padding: 4px;
    margin-top: 4px;
}

button {
    width: 200px;
    display: block;
    margin: auto;
    padding: 4px 24px 4px 24px;
    font-size: 18px;
    margin-top: 16px;
    border-radius: 8px;
    text-decoration: none;
    outline: none;
    background-color: white;
}

.alrignRight {
    float: right;
}

.task-item {
    font-weight: bold;
}

.pop-error {
    color: red;
    font-size: 20px;
    border: 2px solid red;
}

.error {
    color: red;
}

h1 {
    padding: 0;
    margin-top: 0;
    text-align: center;
}

.taskForm {
    margin-top: 28px;
    margin-bottom: 28px;
    background-color: rgb(230, 230, 230);
    padding: 48px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

main {
    overflow-y: auto;
}

.notification {
    text-align: center;
}


.inlineDiv {
    display: table;
}

#addSubtaskButton {
    display: inline;
    font-size: 14px;
    padding: 4px;
    margin: 0;
    width: 100px;
}

.subtaskItem {
    margin-top: 4px;
}

#subtaskList, #subtaskCreation {
    padding-top: 0;
    margin-top: 0px;
}