/* Dashboard Styles */

#dashboardHeader {
    background-color: #212121;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

#dashboardTitle {
    display: inline-block;
}

#headerLogo {
    height: 30px;
}

.dashboardNav_V_Divider {
    background-color: white;
    width: 1px;
    height: 14px;
    display: inline-block;
}

.dashboardNav_H_Divider {
    background-color: white;
    width: 14px;
    height: 1px;
    margin-top: 5px;
    display: inline-block;
}

.headerLink {
    color: white;
    font-size: 20px;
}

#dashboardNotificationContainer {
    background-color: #b00020;
    min-height: 70px;
    margin-left: 48px;
    margin-right: 48px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

#notificationTitle {
    color: white;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 12px;
}

#notificationBody {
    color: white;
    margin-left: 24px;
    margin-top: 0px;
}

#tagsContainer {
    margin-top: 24px;
}

#tagsTitle {
    padding-left: 24px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.tagButton {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    color: black;
    border-color: black;
    padding: 0;
    border-radius: 6px;
    font-weight: bold;
    outline: none;
}

.clearPageDivider {
    height: 1px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

#columnsContainer {
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 24px;
}

.columnHeader {
    font-size: 24px;
    margin-bottom: 0;
}

.column {
    width: 32%;
    color: black;
    background-color: rgb(230, 230, 230);
    border: rgb(58, 58, 58);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.columnScrollView {
    overflow-y: auto;
    scroll-behavior: smooth;
    min-height: 450px;
}

.c1 {
    float: left;
}

.c2 {
    float: left;
    margin-left: 2%;
}
.c3 {
    float: right;
}

.cardTagContainer {
    height: 42px;
    display: table;
}

.invalidInput {
    outline-color: red;
    outline-style: solid;
    outline-width: 3px;
}

#clearSearchResults a {
    color: black;
    text-decoration: none;
}

.notifcationList {
    margin: 0 auto;
    overflow: auto;
    white-space: nowrap;
}

.notificationLinks {
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 8px;
}

.notificationLink {
    margin: 20px;
    display: inline-block;
    background-color: white;
    border-radius: 8px;
    color: black;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
}

.notificationLink, p {
    margin: 0;
}

.notificationLink:hover {
    background-color: silver;
}

.selected {
    background-color: silver;
}

.tagLink {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    color: black;
    text-decoration: none;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
