<link rel="stylesheet" href="/public/css/dashboard.css" />
<link rel="stylesheet" href="/public/css/create-task.css" />

<div id="dashboardBackground" class="back">
    <div id='dashboardHeader'>
        {{!-- <h1 id="dashboardTitle" class="marginLeft12">Task Track</h1> --}}
        <img id="headerLogo" src="public/img/header_logo.png" class="marginLeft12 marginRight12 marginTop12 marginBottom12">
        <div class="dashboardNav_V_Divider marginLeft12 marginRight12"></div>

        <a href="/dashboard" class='headerLink marginLeft12'>Dashboard</a>
        <div class="dashboardNav_H_Divider marginLeft12 marginRight12"></div>

        <a href="/tasks" class='headerLink'>Create Task</a>
        <div class="dashboardNav_H_Divider marginLeft12 marginRight12"></div>

        <a href="/archive" class='headerLink'>Archive</a>
        <div class="dashboardNav_H_Divider marginLeft12 marginRight12"></div>

        <a href="/users/profile" class='headerLink'>Profile</a>
        <div class="dashboardNav_H_Divider marginLeft12 marginRight12"></div>

        <form id="searchForm">
            <label for="searchTerm" class='headerLink marginLeft12'>Search:</label>
            <input type="text" name="searchTerm" id="searchTerm" value="{{searchTerm}}">
            <button type="submit" id="submitButton">Search</button>
        </form>
    </div>
    <div class="clearPageDivider marginTop16 marginLeft16 marginRight16 marginBottom16"></div>

    <div id='dashboardNotificationContainer'>
        <div class="displayTable">
            <p id='notificationTitle' class="marginLeft12 marginRight12">Upcoming Due Dates:</p>
            <p id='notificationBody'>Notifications will be displayed here</p>

        </div>
        {{!-- placeholder for notification panel --}}
    </div>
    <div id="errorDiv" {{#unless error}} hidden{{/unless}}> {{#if error}} <p>{{error}}</p>
        {{/if}}
    </div>

    <main>
        <div class="create-task">
            <div class="pop-error"></div>
            <h1>New Task</h1>

            <form action="/tasks/createTask" method="POST" id="createTaskForm" name="createTaskForm">
                <label for="title">Title: <br>
                    <input id="title" name="title" type="text" value="">
                </label><br><br>

                <label for="description">Description:<br>
                    <textarea id="description" name="description" type="text" rows="4" columns="50" value=""></textarea>
                </label><br><br>

                <label for="priority">Priority:<br>

                    <select name="priority" id="priority">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </label>
                <br><br>

                <!--Check if due date is in the future-->
                <label for="dueDate">Due Date:<br>
                    <input id="dueDate" name="dueDate" type="date" value="">
                </label><br><br>

                <!--Check if reminder date is in the future-->
                <label for="reminderDate">Reminder Date:<br>
                    <input id="reminderDate" name="reminderDate" type="date" value="">
                </label><br><br>

                <label for="status">Status:<br>
                    <select name="status" id="status">
                        <option value="To Do">To Do</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Done">Done</option>
                    </select>
                </label>
                <br><br>

                <label for="assignee">Assignee:(For multiple assignees, separate names with commas)<br>
                    <input id="assignee" name="assignee" type="text" value="">
                </label><br><br>

                <label for="tags">Tags:(For tags, separate names with commas)<br>
                    <input id="tags" name="tags" type="text" value="">
                </label><br><br>

                {{!-- <label for="assignee-text">Assignees:<br>
                    <div id="assignee-div">
                        <div id="assignee-block" hidden>
                            <ul id="assignee-list">
                                <li></li>
                            </ul>
                        </div>
                        <input name="assignee" id="assignee-text"></input>
                        <button id="assignee">Add Assignee</button>

                    </div>
                </label><br><br>

                <label for="tags-text">Tags:<br>
                    <div id="tags-div">
                        <div id="tags-block" hidden>
                            <ul id="tags-list">
                                <li></li>
                            </ul>
                        </div>
                        <input name="tags" id="tags-text"></input>
                        <button id="tags">Add Tag</button>

                    </div>
                </label><br> --}}
                <!--creatorId, subtasks, dependencies, tags, comments, -->
                <button id="createTask-btn" type="submit" class="btn btn-primary">Create Task</button>
                <!--After task is created, do an ajax call to display it on this page-->
                <!--After task is created, it should appear on dashboard-->


            </form>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="public/js/createTask.js"></script>