<link rel="stylesheet" href="/public/css/dashboard.css" />
<link rel="stylesheet" href="/public/css/create-task.css" />
<link rel="stylesheet" href="/public/css/sizeDefaults.css" />

<div id="dashboardBackground" class="back">
    <div id='dashboardHeader'>
        <img alt="task track logo" id="headerLogo" src="/public/img/header_logo.png"
            class="marginLeft12 marginRight12 marginTop12 marginBottom12">
        <div class="dashboardNav_V_Divider marginLeft12 marginRight12"></div>

        <a href="/dashboard" class='headerLink marginLeft12'>Dashboard</a>
        <div class="dashboardNav_H_Divider marginLeft12 marginRight12"></div>

        <a href="/tasks/new" class='headerLink'>Create Task</a>
        <div class="dashboardNav_H_Divider marginLeft12 marginRight12"></div>

        <a href="/archive" class='headerLink'>Archive</a>
        <div class="dashboardNav_H_Divider marginLeft12 marginRight12"></div>

        <a href="/users/profile" class='headerLink'>Profile</a>
    </div>
    <main>
        <div class="taskForm">
            <h1>{{title}}</h1>
            <div id="errorDiv" {{#unless error}} hidden{{/unless}}> {{#if error}} <p>{{error}}</p>
                {{/if}}
            </div>
            {{> 'taskForm' task=task title=title}}
        </div>

    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
    <script src="/public/js/validationFunctions.js"></script>
    {{#ifEquals title "Create Task"}}
    <script src="/public/js/createTask.js"></script>
    {{/ifEquals}}
    {{#ifEquals title "Task Details"}}
    <script src="/public/js/taskDetails.js"></script>
    {{/ifEquals}}

    <script>
        const headerHeight = $('#dashboardHeader').height();
        const windowHeight = $(window).height();
        $('main').height(windowHeight - headerHeight);
    </script>