<form action="/users/create" method="POST">
    <label for="firstName">First Name:</label>
    <input id="firstName" name="firstName" type="text"></input>
    <label for="lastName">Last Name:</label>
    <input id="lastName" name="lastName" type="text"></input>
    <label for="email">Email Address:</label>
    <input id="email" name="email" type="email"></input>
    <label for="password">Password:</label>
    <input id="password" name="password" type="password"></input>
    <label for="mobileNumber">Mobile Phone Number:</label>
    <input id="mobileNumber" name="mobileNumber" type="text"></input>
    <label for="homeNumber">Home Phone Number:</label>
    <input id="homeNumber" name="homeNumber" type="text"></input>
    <label for="workNumber">Work Phone Number:</label>
    <input id="workNumber" name="workNumber" type="text"></input>
    <button type="submit">Create Account</button>
</form>